body a{
    color: inherit;
    list-style-type: none;
}
body a:hover{
    color: inherit;
    text-decoration: none;
    list-style-type: none;
}
body a:focus{
    color: inherit;
    text-decoration: none;
    list-style-type: none;
}

/*??????????????*/

html body{
    background-color: #ebebeb;
}
header{
    background-color: #ffffff;
    padding: 0 30px 100px 30px;
}
header .logo h1{
    margin: 0;
}
header .socio ul li{
    display: inline-block;
}
header .nav-menu{
    margin: 0;
    padding: 0;
}
header .nav-menu li{
    display: inline-block;
    padding: 15px;
}
.clearfix {
    overflow: auto;
}
.content-area{
    width:60%;
    float: left;
    height: 200px;
}
.blog-wrap{
    text-align: left;
}
.blog-wrap h2{
    color: #000000;
    font-size: 35px;
    font-weight: 700;
}
.blog-wrap p{
    font-size: 14px;
}
.sidebar{
    float: right;
    width: 40%;
}
.footer{
    height: 50px;
    background-color: #ffa1ae;
}
.example3 {
    display:inline-block;
    position:relative;
    padding: 0 2px 0 2px;
}
#main img{
    width: 100%;
}
.inline-image{
    margin-top: 10px;
}
.inline-image img{
    max-width: 150px;
    max-height: 150px;
}
.top_image img{
    max-width: 626px;
    max-height: 377px;
}
#main{
    height: 900px;
    padding: 0 30px 100px 30px;
    background-color: #fff;
}
.image_wrap{
    border: solid 1px #c0c0c0;
    padding: 5px ;
    max-width: 626px;
}
.example3 .example_text {
    display:block;
    position:absolute;
    left:0;
    bottom: 0;
    width:99%;
    margin-left: 2px;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    color:#fff;
    padding:10px;
    background-color: #f99700;
    border-top: 2px solid #ffffff;


}
.slick-next {
    margin-bottom: -50px !important;
}
.wrap_blog-text{
    max-width: 626px;
}
.example_beauty{
    width: 100%;
}
.example3 h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}
.example3 span {
    font-size:16px;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
    background-image: url(../img/white_arrow_icon.png);
    background-repeat:no-repeat;
    background-position: left center;
    padding-left: 15px;
}
/*???????????tabs*?????????????????????/ */
.main{
    width: 100%;
}
.tabs{
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
}
.tab{
    float: left;
    width: 32%;
    cursor: pointer;
    border: solid 1px #ddd;
    padding: .5em 1em;
    margin-bottom: -1px;
    background-color: #00aedb;
    display: inline-block;
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
}
.tab:nth-child(1){
    background-color: #ec098d;
}
.tab:nth-child(2){
    background-color: #f99700;
}
.tab:nth-child(3){
    background-color: #00aedb;
}
.tab_item{
    float: left;
    width: 96%;
}
/*//////////////////////////////////////*/
 .wrap_stories_title{
     background-image: url(../img/layer.png);
     background-repeat:no-repeat;
 }
.wrap_stories_title h3{
    line-height: 36px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 19px;
    font-weight: 700;
}
.nav_blog_element{
    padding: 15px 0;
    border-bottom: 1px solid#c0c0c0;
}
.nav_blog_element:nth-child("last"){
    border: aqua solid 2px;
}
.nav-blog_img{
    max-width: 81px;
    max-height: 97px;
    display: block;
    float: left;
}
.information_wrap{
    text-align: left;
    float: right;
}
.information_wrap h3{
    font-size: 15px;
    font-weight: 700;
    color: #00aedb;
    margin: 0;
}
.information_wrap p{
    font-size: 13px;
    font-weight: 300;
    color: #494949;
}