/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #main{
        padding: 0 5px !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    header{
        padding-bottom: 20px !important;
    }
    header .input_btn{
        font-size: 12px !important;
    }
    #main{
        overflow: visible;
        padding: 0 5px !important;
    }
    .sidebar{
        width: 100% !important;
    }
    .content-area{
        width: 100% !important;
    }
    .content-area h2{
        font-size: 17px !important;
        text-align: center !important;
        padding-left: 30px !important;
    }
    .content-area p{
        font-size: 10px !important;
        text-align: center;
    }
    .inline-image{
        display: none !important;
    }
    .data_today{
        margin: 0 auto !important;
        width: 30px !important;
    }
    .data_today .number{
        font-size:10px !important;
        padding: 3px !important;
    }
    .data_today .mouth{
        margin: 0 auto !important;
        float: none !important;
        font-size:10px !important;
        padding: 3px !important;
    }
    .main .nav-img_wrap img {
        float: right !important;
        width: 100% !important;
    }
    .col-xs-4{
        padding-right: 0 !important;
    }
    .tab{
        font-size: 12px !important;
    }
    
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
    html body{
        overflow-x: hidden;
    }
    html{
        overflow-x: hidden;
    }
    .slider_preview{
        text-align: center !important;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}